.new-task-input {
  display: flex;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .new-task-input {
    font-size: 20px;
  }
}

.new-task-input__input {
  all: unset;
  border-bottom: 1px solid;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .new-task-input__input {
    max-width: 80%;
  }
}

.new-task-input__add {
  font-size: 36px;
  cursor: pointer;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
}
