.task {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.task_checked .task__title {
  text-decoration: line-through;
}

.task__checkbox {
  position: relative;
  background: transparent;
  font-size: 26px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  color: #FFF;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 3);
  margin-right: 20px;
  cursor: pointer;
}

.task_checked .task__checkbox {
  color: #000;
  box-shadow: none;
  transform: translate(3px, 3px);
}

.task__remove {
  margin-left: auto;
  font-size: 36px;
  transition: all 0.1s ease;
  cursor: pointer;
}
